*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F8F8F8;
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}
.search{
  width: 100%;
  height: 4vh;
}
.searchDiv{
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 4vh;
}




