.container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    height: 8vh;
    cursor: pointer;
}
.avatar{
    border-radius: 50%;
}
.box{
    display: flex;
    flex-direction: column;
}
.email{
    font-size: .8rem;
}
.showColor{
    background-color: red;
}